* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CLASSI LAYOUT */
header {
    width: 100vw;
    height: 80px;
    background-color: red
}

main {
    justify-content: center;
    background-color: blueviolet;
}

.container {
    width: 80vw;
    height: calc(100hv - 200px);
    background-color: blue;
}

.col-100 {
    width: 100%;
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.f-col {
    width: calc(100% / 7 - 10px);
    background-color: aqua;
    margin: 5px;
}

footer {
    width: 100vw;
    height: 120px;
    background-color: red;
}

.f-col img {
    width: 100%;
    height: 100%;
}

/* CLASSI DI UTILITY */